.filmer {
  background: #fff;
  color: #212d33;
  padding: 40px 0;
  .wrapper {
    max-width: 1400px;
    margin: 0 auto;
  }
  &-heading {
    margin-bottom: 45px;
    h2 {
      font-weight: 400;
      text-align: center;
      font-size: 30px;
    }
  }
  .g-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    column-gap: 20px;
    margin-bottom: 45px;
    .film1,
    .film2,
    .film3,
    .film4,
    .film5,
    .film6,
    .film7 {
      height: 267px;
      width: 178px;
      .img {
        height: 100%;
        width: 100%;
      }
    }
    .film1 {
      .img {
        background: url('../img/bohemian.jpg') center center no-repeat;
        background-size: cover;
      }
    }
    .film2 {
      .img {
        background: url('../img/hustle.jpg') center center no-repeat;
        background-size: cover;
      }
    }
    .film3 {
      .img {
        background: url('../img/sparrow.jpg') center center no-repeat;
        background-size: cover;
      }
    }
    .film4 {
      .img {
        background: url('../img/state.jpg') center center no-repeat;
        background-size: cover;
      }
    }
    .film5 {
      .img {
        background: url('../img/dam.jpg') center center no-repeat;
        background-size: cover;
      }
    }
    .film6 {
      .img {
        background: url('../img/water.jpg') center center no-repeat;
        background-size: cover;
      }
    }
    .film7 {
      .img {
        background: url('../img/after.jpg') center center no-repeat;
        background-size: cover;
      }
    }
  }
  .serier {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 20px;
    .serie1,
    .serie2,
    .serie3,
    .serie4,
    .serie5 {
      height: 145px;
      width: 257px;
      .img {
        height: 100%;
        width: 100%;
      }
    }
    .serie1 {
      .img {
        background: url('../img/greys.jpg') center center no-repeat;
        background-size: cover;
      }
    }
    .serie2 {
      .img {
        background: url('../img/paradise.jpg') center center no-repeat;
        background-size: cover;
      }
    }
    .serie3 {
      .img {
        background: url('../img/lost.jpg') center center no-repeat;
        background-size: cover;
      }
    }
    .serie4 {
      .img {
        background: url('../img/minds.jpg') center center no-repeat;
        background-size: cover;
      }
    }
    .serie5 {
      .img {
        background: url('../img/box.jpg') center center no-repeat;
        background-size: cover;
      }
    }
  }
}
