.search {
  background: #f9f9fb;
  padding: 60px 0 140px;
  .wrapper {
    max-width: 1400px;
    margin: 0 auto;
  }
  form {
    display: flex;
    justify-content: center;
    .search-input {
      width: 610px;
      height: 60px;
      padding-left: 60px;
      border-radius: 35px;
      color: #3d4348;
      font-size: 15px;
      outline: none;
      border: 1px solid rgba(0, 0, 0, 0.3);
      &:focus {
        color: #3d4348;
      }
    }
    .search-input.large {
      display: inline-block;
    }
    .search-input.small {
      display: none;
    }
    .search-btn {
      cursor: pointer;
      background-color: #212d33;
      border: none;
      color: #f9f9fb;
      margin-left: 30px;
      font-size: 15px;
      font-weight: 700;
      width: 130px;
      border-radius: 35px;
      outline: none;
    }
  }
}

::placeholder {
  color: #3d4348;
  font-size: 15px;
}
