.sporter {
  background: #fff;
  color: #212d33;
  padding: 40px 0;
  .wrapper {
    max-width: 1400px;
    margin: 0 auto;
  }
  &-heading {
    margin-bottom: 35px;
    h2 {
      font-weight: 400;
      text-align: center;
      font-size: 40px;
    }
  }
  .g-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    row-gap: 65px;
    .sport1,
    .sport2,
    .sport3,
    .sport4,
    .sport5,
    .sport6,
    .sport7,
    .sport8 {
      height: 134px;
      width: 352px;
      .img {
        width: 100%;
        height: 100%;
      }
    }
    .sport1 {
      .img {
        background: url('../img/cl.png') no-repeat center center;
      }
    }
    .sport2 {
      .img {
        background: url('../img/pl.png') no-repeat center center;
      }
    }
    .sport3 {
      .img {
        background: url('../img/nhl.png') no-repeat center center;
      }
    }
    .sport4 {
      .img {
        background: url('../img/et.png') no-repeat center center;
      }
    }
    .sport5 {
      .img {
        background: url('../img/bundesliga.png') no-repeat center center;
      }
    }
    .sport6 {
      .img {
        background: url('../img/ufc.png') no-repeat center center;
      }
    }
    .sport7 {
      .img {
        background: url('../img/nfl.png') no-repeat center center;
      }
    }
    .sport8 {
      .img {
        background: url('../img/ihf.png') no-repeat center center;
      }
    }
  }
  .sporter-rights {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    .sporter-btn {
      display: flex;
      align-items: center;
      cursor: pointer;
      border: none;
      background-color: transparent;
      font-size: 15px;
      color: #3d4348;
      border-bottom: 1px solid transparent;
      padding-bottom: 1px;
      &:hover {
        color: #004684;
        border-color: #004684;
      }
      i {
        margin-left: 3px;
        font-size: 7px;
        margin-bottom: -3px;
        color: grey;
      }
    }
  }
}
